<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left align-items-center" style="margin: auto; margin-bottom:-55px">
                        <figure>
                            <img src="images/404error.jpg" alt="reetesh" class="img-fluid" title="Reetesh Shrivastava">
                        </figure>
                        <p>Welcome to Reetesh Shrivastava world</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- right-side-div -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>

</html>